/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile */
@media (min-width: 375px) {
    .container {
        width: 360px;
    }
}

/* Desktop */
@media (min-width: 1440px) {
    .container {
        width: 1410px;
    }
}

/* End Global Rules */
/* Start Main */
main {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 90vh;
}

/* Mobile */
@media (max-width: 375px) {
    main {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

main .container {
    display: flex;
    justify-content: center;
}

main .container .box {
    width: 325px;
    text-align: center;
    padding: 15px;
    border-radius: 5%;
    background-color: var(--White);
}

main .container .box img {
    max-width: 100%;
    border-radius: 4%;
}

main .container .box h2 {
    padding: 0 5px;
    color: var(--Dark-blue);
    font-size: 25px;
}

main .container .box p {
    padding: 0 15px;
    color: var(--Grayish-blue);
    font-size: 15px;
}

/* End Main */
/* Start Footer */
footer a:hover{
    color: var(--Grayish-blue);
}
/* End Footer */