/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Mobile */
@media (min-width: 375px) {
    .container {
        width: 360px;
    }
}

/* Desktop */
@media (min-width: 1440px) {
    .container {
        width: 1410px;
    }
}

/* End Global Rules */
/* Start Main */
main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

main .container {
    display: flex;
    justify-content: center;
}

main .container .box {
    width: 325px;
    text-align: center;
    padding: 0.938rem;
    border-radius: 5%;
    background-color: var(--White);
}

main .container .box img {
    max-width: 100%;
    border-radius: 4%;
}

main .container .box h1 {
    padding: 0 0.313rem;
    color: var(--Dark-blue);
    font-size: 1.563rem;
}

main .container .box p {
    padding: 0 1rem;
    color: var(--Grayish-blue);
    font-size: 0.938rem;
}

/* End Main */
/* Start Footer */
footer a:hover{
    color: var(--Grayish-blue);
}
/* End Footer */